body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  color: #fafafa;
  background-color: black;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  border-radius: 4px;
}

h4 {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.1px;
  text-decoration: unset;
  margin-bottom: .2rem;
}

ul {
  padding-left: 1.2rem;
}

li > a {
  text-decoration: underline;
}


li > a:hover {
  color: rgb(84, 93, 97);
}


p {
  margin: 0px;
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.53;
  text-decoration: unset;
}

/* Layout */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 50%;
  min-height: 100vh;
}

.header {
  padding-top: 10%;
  padding-bottom: 2%;
  width: 100%;

  flex-direction: column;
  display: flex;
  justify-content: start;
}

.header__title {
  display: block;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

.header__link {
  font-size: 13px;
  line-height: 1.53;
  text-decoration: unset;
  letter-spacing: -0.1px;
  font-weight: 700;
  font-style: normal;
  margin-right: .8rem;
}

.header__link:last-child {
  /* important */
  margin-right: 0;
}

.header__link:hover {
  color: rgb(255, 90, 135);
}

.header__link-section {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
}

.header__icon-link-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 7%;
}

.header__icon-link-section__icon-link {
  display: flex;
  align-items: center;
  border-radius: 4px;
  margin: 0 2px;
  padding: 7px;
}

.header__icon-link-section__icon-link:hover {
  background-color: rgba(26, 26, 26, 1);
}

/* Posts Section */
.posts-section{
  width: 100%;
}

.posts-section__title {
  display: block;
  font-style: normal;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 1.35;

  border-bottom: 1px solid;
  border-color: rgb(48, 54, 58);
  padding-bottom: 16px;
  margin-bottom: 0;
}

.posts-section__post-card {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #30363a;
  transition: background .15s;
  padding: 25px 24px;
}

.posts-section__post-card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.posts-section__post-card:hover {
  background-color: rgb(30, 33, 36);
  cursor: pointer;
}

.post-section__header {
  display: block;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

.posts-section__post-card__title {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.1px;
  text-decoration: unset;
  line-height: 1.53;

  margin-bottom: 12px;
}

.posts_section__post_card__body {
  margin: 0;
}

.post__header, h4, ul {
  display: block;
  width: 100%;

  margin: .4em 0;
}

.posts-section__post-card__description {
  margin: 0px;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.6;
  text-decoration: unset;
}

.posts-section__post-card__date {
  margin: 0px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.1px;
  line-height: 1.53;
  text-decoration: unset;
  margin-left: 8px;
}

.post__header {
  display: block;
  font-size: 24px;
  line-height: 1.35;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.1px;
  text-decoration: unset;
}

.post__figure {
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 1rem 0;
}

.post__figure > p {
  align-self: center;
  color: rgb(84, 93, 97);
}

.post__figure > img {
  display: block;
  margin: .5rem 0;
}



textarea {
  max-height: 200px;
  resize: none;
  border-color: #8e8ea0;
  font-size: 1rem;
  line-height: 1.5rem;
  height: 56px;
  overflow-y: hidden;
  width: 100%;
  border: 0 solid #d9d9e3;
  box-sizing: border-box;
  column-count: initial !important;
  writing-mode: horizontal-tb !important;
  cursor: text;
  white-space-collapse: preserve;
  text-wrap: wrap;
  overflow-wrap: break-word;
  padding: .3rem; 
  border: 0 solid #d9d9e3;
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.1);
  border-radius: 0.75rem;
  white-space: normal;
  text-align: justify;
  text-justify: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.prompt-box {
  position: relative;
  width: 100%;
  margin: 1.5em 0;
}



.prompt-box > button {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  right: 0;
  margin-right: 10px;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}


.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 45%;
  flex-grow: 1;
}


.alternative-header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100vw;
  height: 3rem;
  align-items: center;
  padding: 0 2rem;
}


.alternative-header > a {
  display: block;
}

.alternative-header > a:hover {
  color: rgb(0, 127, 245);
}